header#header.header
  .header__wrapper
    a.menu__burger(
      href="#",
      role="button",
      aria-label="Бургер меню",
      tabindex="0") 
      span
      span
      span
    a.logo.header__logo(href="index.html")
      include ./../../mixins/img-NL
      +img(
        "./img/logo.svg",
        "Магазин профессиональной косметики в Минске, купить косметику в Беларуси")
    include ./../../mixins/menu
    +menu(
      [
        ["Каталог","#catalog",
          [
            ["категория - 1","#category-1"],
            ["категория - 2","#category-2"],
            ["категория - 3","#category-3"],
            ["категория - 4","#category-4"]
          ]
        ],
        ["Бренды","#brands",
          [
            ["Бренд - 1","#brand-1"],
            ["Бренд - 2","#brand-2"],
            ["Бренд - 3","#brand-3"],
            ["Бренд - 4","#brand-4"],
            ["Бренд - 5","#brand-5"]
          ]
        ],
        ["Блог","#blog"],
        ["О нас","#about"],
        ["Сотрудничество","#cooperation"],
        ["Покупателю","#buyer-info",
          [
            ["Покупателю - 1","#buyer-info-1"],
            ["Покупателю - 2","#buyer-info-2"],
            ["Покупателю - 3","#buyer-info-3"]
          ]
        ]
      ])
    .header__links
      a.header__link.show-modal(
        role="button",
        area-label="Кнопка поиска",
        href="#modal__search")
        i.header__link-icon
          include ./../../mixins/img-NL
          +img(
            "./img/icons/icon-search.svg",
            "Кнопка поиска")
      a.header__link(
        area-label="Ссылка на корзину",
        href="#page-cart.html")
        i.header__link-icon
          include ./../../mixins/img-NL
          +img(
            "./img/icons/icon-cart.png",
            "Корзина")
      a.header__link(
        area-label="Ссылка на избранное",
        href="#page-cart.html")
        i.header__link-icon
          include ./../../mixins/img-NL
          +img(
            "./img/icons/icon-favorites.png",
            "Избранное")
      a.header__link(
        area-label="Ссылка на личный кабинет",
        href="#page-cart.html")
        i.header__link-icon
          include ./../../mixins/img-NL
          +img(
            "./img/icons/icon-user.svg",
            "Личный кабинет")
    include ./../../mixins/select-phone
    +select(
      "header__phone",
      "header",
      "+375 (33) 382-31-38",
      "",
      [
        ["+375 (33) 382-31-31"],
        ["+375 (33) 382-31-32"],
        ["+375 (33) 382-31-33"],
        ["+375 (33) 382-31-34"]
      ],
      "header__phone")